/*** FONTS ***/

p, h1, button {
    font-family: 'Roboto', sans-serif;
}

i {
    vertical-align: middle;
}


/*** LINKS ***/

a:link, a:visited {
    text-decoration: none;
    color: #2196f3;
}

a:hover, a:active {
    text-decoration: none;
    color: #4caf50;
}


/*** HEADER **/

header {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

body {
    padding-top: 60px;
}


/*** INPUTS ***/

input:focus {
    outline: none;
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #989898;
}


/*** BOTTONI ***/

.w3-btn {
    border-radius: 3px;
    box-shadow: 0 4px 6px 1px rgba(0,0,0,0.2);
}

.bottone_circolare {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.bottone_header {
    cursor: pointer;
}

.w3-card-4, #chiudi_mostra, #elimina {
    cursor: pointer;
}


/*** SPAZIATORI ***/

.vuoto {
    height: 60vh;
}

#spazio {
    height: 100px;
}


/*** MODALS ***/

.w3-modal {
    padding-top: 25vh;
}

.w3-modal-content {
    max-width: 450px;
}

.sfondo_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/*** CARICAMENTO ***/

#caricamento {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

#attesa {
    display: none;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


/*** CAMERA ***/

#operazioni, #salvataggio {
    display: none;
}

#anteprima {
    height: 200px;
}

.elemento_anteprima {
    max-width: 100%;
    max-height: 200px;
}


/*** ALBUM ***/

.foto_galleria {
    width: 100%;
}

.elemento_galleria {
    padding-top: 66.666666%;
    position: relative;
}

.elemento_galleria i {
    position: absolute;
    top: 8%;
    left: 0;
    bottom: 0;
    right: 0;
}


/*** MOSTRA ***/

#mostra {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mostra .w3-third, #mostra .w3-light-grey {
    height: 100%;
}

#chiudi_container {
    height: 120px;
}

#foto_mostra {
    max-width: 100%;
}

#dietro {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 80%;
}

#avanti {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 80%;
}


/*** IMPOSTAZIONI ***/

.range {
    text-align: right;
}

#modifica, #predefinite {
    width: 100%;
}
